nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding: 25px 20px;
      position: fixed;
      width: 100%;
      z-index: 100;
      top: 0;
      background-color: black;
    }
        .logo {
          height: 50px;
          width: auto;
          object-fit: contain;
        }

        .nav-links {
            display: flex;
            gap: 120px;
            justify-content: center;
            align-items: center;
            
        }

        .nav-links a {
            color: #A598D1;
            text-decoration: none;
            font-size: 1.4rem;
            transition: color 0.3s ease;
        }

        .nav-links a:hover {
            color: white;
        }


        .profile-circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;      
        display: block;         
        }


       .profile-circle {
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            
        }
        .profile-img-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;  
            background: white;
        }

        .dropdown {
        position: absolute;
        top: 70%;
        right: 20px;
        padding-top: 10px;
        display: none;
        z-index: 10;
        }

        .profile-circle:hover .dropdown {
        display: block;
        }

        .dropdown ul {
        background-color: #f3f4f6;
        padding: 0.5rem;
        margin: 0;
        list-style: none;
        font-size: 0.875rem;
        border-radius: 0.25rem;
        }

        .dropdown li {
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        }

        .dropdown li:hover {
        background-color: #e5e7eb;
        }

   