
.hero-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 35px;
    width: 70%;
    text-align: center; 
}

 .hero-home h1 {
    z-index: 1; 
    color: white; 
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 33px;
}

.highlight {
    color: #A598D1;
    font-size: 70px;
    font-weight: 300;
    font-optical-sizing: auto;
}
.hero-home p {
    z-index: 1; 
    color: #78718D;
    font-size: 23px;

}

